Source: python-eventdispatch
Maintainer: Charlie Yan <cyanatg@gmail.com>
Build-Depends: debhelper (>= 13~),dh-python,python3-setuptools,python3:any | python3-all:any | python3-dev:any | python3-all-dev:any | dh-sequence-python3
Section: devel
Priority: optional
Standards-Version: 3.9.6
X-Python3-Version: >= 3.6

Package: python-eventdispatch
Architecture: all
Description: Event Dispatch, a discrete time synchronizer
Depends: ${python3:Depends},python3-requests,${misc:Depends}
