Source: python-eventdispatch
Maintainer: Charlie Yan <cyanatg@gmail.com>
Build-Depends: debhelper,dh-python,python3-all,python3-setuptools
Section: devel
Priority: optional
Standards-Version: 3.9.6
X-Python3-Version: >= 3.6

Package: python-eventdispatch
Architecture: all
Description: Event Dispatch, a discrete time synchronizer
Depends: ${python3:Depends},python3-requests